# 데이터 모형 구축 작업

## - 분류 : LogisticRegresion, SVC

## - 예측 : Linear_regression, SVM

In [8]:
import pandas as pd
import numpy as np

### 예측 - california 주택 가격

In [39]:
from sklearn import datasets

dataset = datasets.fetch_california_housing()
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df['target'] = dataset.target

In [10]:
print(df.head())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  target
0    -122.23   4.526
1    -122.22   3.585
2    -122.24   3.521
3    -122.25   3.413
4    -122.25   3.422

#### 결측, 이상 구하기

In [11]:
print(df.isnull().sum()) #결측값 없음

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
target        0
dtype: int64

In [12]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

In [5]:
for col in df.columns: #이상치 
    data = df[col]
    q75 = np.quantile(data,0.75)
    q25 = np.quantile(data,0.25)
    IQR = q75 - q25
    
    lower = q25 - IQR*1.5
    upper = q75 + IQR*1.5
    
    lower_list = data[data<lower].index.tolist()
    upper_list = data[data>upper].index.tolist()
    
    #print(lower_list)
    #print(upper_list)
    
    for i in lower_list:
        df[col][i] = lower
    
    for i in upper_list:
        df[col][i] = upper

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt
for count,i in enumerate(df.columns):
    sns.boxplot(df[i])
    plt.show()

In [53]:
target = df['target']
df = df.drop('target',axis = 1)

In [54]:
std_target = MinMaxScaler().fit_transform(df)

In [56]:
for num,name in enumerate(df.columns):
    df[name] = std_target[:,num]

In [57]:
df.shape

(20640, 8)

In [58]:
std_target.shape

(20640, 8)

In [59]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,0.539668,0.784314,0.043512,0.020469,0.008941,0.001499,0.567481,0.211155
1,0.538027,0.392157,0.038224,0.018929,0.067210,0.001141,0.565356,0.212151
2,0.466028,1.000000,0.052756,0.021940,0.013818,0.001698,0.564293,0.210159
3,0.354699,1.000000,0.035241,0.021929,0.015555,0.001493,0.564293,0.209163
4,0.230776,1.000000,0.038534,0.022166,0.015752,0.001198,0.564293,0.209163
...,...,...,...,...,...,...,...,...
20635,0.073130,0.470588,0.029769,0.023715,0.023599,0.001503,0.737513,0.324701
20636,0.141853,0.333333,0.037344,0.029124,0.009894,0.001956,0.738576,0.312749
20637,0.082764,0.313725,0.030904,0.023323,0.028140,0.001314,0.732200,0.311753
20638,0.094295,0.333333,0.031783,0.024859,0.020684,0.001152,0.732200,0.301793
20639,0.130253,0.294118,0.031252,0.024573,0.038790,0.001549,0.725824,0.309761

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train,x_test,y_train,y_test = train_test_split(df,target,test_size = 0.3,shuffle = True)

In [62]:
from sklearn.linear_model import LinearRegression
from sklearn import svm

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error

In [63]:
model1 = LinearRegression()
model1.fit(x_train,y_train)
model1.score(x_train,y_train)

0.6132719413179822

In [64]:
pred = model1.predict(x_test)
MSE = mean_squared_error(y_test, pred)
RMSE = np.sqrt(MSE)
RMSE

0.746601587113346

In [ ]:
kernel = ['poly','rbf']
for kn in kernel:
    model2 = svm.SVR(kernel=kn)
    model2.fit(x_train,y_train)
    print(kn)
    print(model2.score(x_train,y_train)) #r2 score
    pred = model2.predict(x_test)
    print(mean_squared_error(y_test,pred))

poly
0.6214232075741655
0.6245488812110718
rbf
0.6615567703624965