## 데이터 전처리 작업

### 데이터 변환하기

#### 데이터의 범위를 표준화 또는 정규화를 통해 일치시킬 수 있다. <br><br> 기존 변수를 이용하여 의미 있는 새로운 변수를 생성하거나 변수를 선택할 수 있다.

In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

import seaborn as sns

In [11]:
data = sns.load_dataset('iris')
data = data.drop('species',axis = 1)
print(data.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### 데이터 정규화, 표준화를 통해 범위 맞추기

In [29]:
# 일부 컬럼 scale 하고 싶을 떄

scaler = StandardScaler()
std = scaler.fit_transform(data['sepal_length'].values.reshape(-1,1)) #values.reshape(-1,1) 필요함
print(std)

[[-0.90068117]
 [-1.14301691]
 [-1.38535265]
 [-1.50652052]
 [-1.02184904]
 [-0.53717756]
 [-1.50652052]
 [-1.02184904]
 [-1.74885626]
 [-1.14301691]
 [-0.53717756]
 [-1.26418478]
 [-1.26418478]
 [-1.87002413]
 [-0.05250608]
 [-0.17367395]
 [-0.53717756]
 [-0.90068117]
 [-0.17367395]
 [-0.90068117]
 [-0.53717756]
 [-0.90068117]
 [-1.50652052]
 [-0.90068117]
 [-1.26418478]
 [-1.02184904]
 [-1.02184904]
 [-0.7795133 ]
 [-0.7795133 ]
 [-1.38535265]
 [-1.26418478]
 [-0.53717756]
 [-0.7795133 ]
 [-0.41600969]
 [-1.14301691]
 [-1.02184904]
 [-0.41600969]
 [-1.14301691]
 [-1.74885626]
 [-0.90068117]
 [-1.02184904]
 [-1.62768839]
 [-1.74885626]
 [-1.02184904]
 [-0.90068117]
 [-1.26418478]
 [-0.90068117]
 [-1.50652052]
 [-0.65834543]
 [-1.02184904]
 [ 1.40150837]
 [ 0.67450115]
 [ 1.2803405 ]
 [-0.41600969]
 [ 0.79566902]
 [-0.17367395]
 [ 0.55333328]
 [-1.14301691]
 [ 0.91683689]
 [-0.7795133 ]
 [-1.02184904]
 [ 0.06866179]
 [ 0.18982966]
 [ 0.31099753]
 [-0.29484182]
 [ 1.03800476]
 [-0.29484182]
 [-0.05250608]
 [ 0.4321654 ]
 [-0.29484182]
 [ 0.06866179]
 [ 0.31099753]
 [ 0.55333328]
 [ 0.31099753]
 [ 0.67450115]
 [ 0.91683689]
 [ 1.15917263]
 [ 1.03800476]
 [ 0.18982966]
 [-0.17367395]
 [-0.41600969]
 [-0.41600969]
 [-0.05250608]
 [ 0.18982966]
 [-0.53717756]
 [ 0.18982966]
 [ 1.03800476]
 [ 0.55333328]
 [-0.29484182]
 [-0.41600969]
 [-0.41600969]
 [ 0.31099753]
 [-0.05250608]
 [-1.02184904]
 [-0.29484182]
 [-0.17367395]
 [-0.17367395]
 [ 0.4321654 ]
 [-0.90068117]
 [-0.17367395]
 [ 0.55333328]
 [-0.05250608]
 [ 1.52267624]
 [ 0.55333328]
 [ 0.79566902]
 [ 2.12851559]
 [-1.14301691]
 [ 1.76501198]
 [ 1.03800476]
 [ 1.64384411]
 [ 0.79566902]
 [ 0.67450115]
 [ 1.15917263]
 [-0.17367395]
 [-0.05250608]
 [ 0.67450115]
 [ 0.79566902]
 [ 2.24968346]
 [ 2.24968346]
 [ 0.18982966]
 [ 1.2803405 ]
 [-0.29484182]
 [ 2.24968346]
 [ 0.55333328]
 [ 1.03800476]
 [ 1.64384411]
 [ 0.4321654 ]
 [ 0.31099753]
 [ 0.67450115]
 [ 1.64384411]
 [ 1.88617985]
 [ 2.4920192 ]
 [ 0.67450115]
 [ 0.55333328]
 [ 0.31099753]
 [ 2.24968346]
 [ 0.55333328]
 [ 0.67450115]
 [ 0.18982966]
 [ 1.2803405 ]
 [ 1.03800476]
 [ 1.2803405 ]
 [-0.05250608]
 [ 1.15917263]
 [ 1.03800476]
 [ 1.03800476]
 [ 0.55333328]
 [ 0.79566902]
 [ 0.4321654 ]
 [ 0.06866179]]

In [30]:
std = pd.Series(std[:,0], name = 'standard') # series화
print(std)

0     -0.900681
1     -1.143017
2     -1.385353
3     -1.506521
4     -1.021849
         ...
145    1.038005
146    0.553333
147    0.795669
148    0.432165
149    0.068662
Name: standard, Length: 150, dtype: float64

In [31]:
#전체 스케일 하고 싶을 때

scale_data = pd.DataFrame(scaler.fit_transform(data))
print(scale_data)

            0         1         2         3
0   -0.900681  1.019004 -1.340227 -1.315444
1   -1.143017 -0.131979 -1.340227 -1.315444
2   -1.385353  0.328414 -1.397064 -1.315444
3   -1.506521  0.098217 -1.283389 -1.315444
4   -1.021849  1.249201 -1.340227 -1.315444
..        ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832
146  0.553333 -1.282963  0.705921  0.922303
147  0.795669 -0.131979  0.819596  1.053935
148  0.432165  0.788808  0.933271  1.448832
149  0.068662 -0.131979  0.762758  0.790671

[150 rows x 4 columns]

In [32]:
data['sepal_length']=scale_data[0]

In [33]:
data

     sepal_length  sepal_width  petal_length  petal_width
0       -0.900681          3.5           1.4          0.2
1       -1.143017          3.0           1.4          0.2
2       -1.385353          3.2           1.3          0.2
3       -1.506521          3.1           1.5          0.2
4       -1.021849          3.6           1.4          0.2
..            ...          ...           ...          ...
145      1.038005          3.0           5.2          2.3
146      0.553333          2.5           5.0          1.9
147      0.795669          3.0           5.2          2.0
148      0.432165          3.4           5.4          2.3
149      0.068662          3.0           5.1          1.8

[150 rows x 4 columns]

### 기존 변수를 이용하여 의미 있는 새로운 변수를 생성

 Sepal_length, width : 꽃받침 길이 너비
 petal_length, width : 꽃잎 길이 너비

In [38]:
import math
data = sns.load_dataset('iris')
# 예를 들어
data['sepal'] = data['sepal_length']**2 + data['sepal_width']**2
print(data)

     sepal_length  sepal_width  petal_length  petal_width    species  sepal
0             5.1          3.5           1.4          0.2     setosa  38.26
1             4.9          3.0           1.4          0.2     setosa  33.01
2             4.7          3.2           1.3          0.2     setosa  32.33
3             4.6          3.1           1.5          0.2     setosa  30.77
4             5.0          3.6           1.4          0.2     setosa  37.96
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica  53.89
146           6.3          2.5           5.0          1.9  virginica  45.94
147           6.5          3.0           5.2          2.0  virginica  51.25
148           6.2          3.4           5.4          2.3  virginica  50.00
149           5.9          3.0           5.1          1.8  virginica  43.81

[150 rows x 6 columns]